 <style>


 
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Regular.woff2') format('woff2'),
        url('fonts/Panton-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Bold.woff2') format('woff2'),
        url('fonts/Panton-Bold.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-BoldItalic.woff2') format('woff2'),
        url('fonts/Panton-BoldItalic.woff') format('woff');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlack.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlack.woff') format('woff');
    font-weight:900;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlackItalic.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlackItalic.woff') format('woff');
    font-weight:900;
    font-style:italic;
}
body {
    font-family:'Panton';
}

 
 

    h2{font-weight: 900;
      font-size:30px;
       word-spacing: 5pt;
       text-align: center; 

   }

   td{font-family: "Panton-Regular";

      font-size: 13px;
      text-align: center;
   }

   th{font-family: "Panton-Black";
      
      font-size: 16px;
      text-align: center;

   }


   
   h3{font-family:"Panton-Bold";
       font-size:24px;
       word-spacing: 5pt;
       color: #7E7E7E
   }

    h6{font-family:"Panton-Regular";
       word-spacing: 5pt;
       color: #7E7E7E
   }
   

   body{background-color: #fafafa;

   }

  

   .foto{
        text-align: center;

       }

    .disciplina{
      font-family: "Panton";
    }   

 
   

    
 
    
    </style>