 <style>
    /* fuentes en nuestro disco duro */
    @font-face {
        font-family: "Panton-Bold";
        src: url("../fonts/panton/Panton-Bold.otf") format("opentype");
    }
    @font-face {
        font-family: "Panton-Black";
        src: url("../fonts/panton/Panton-Black_0.otf") format("opentype");
    }
    @font-face {
        font-family: "Panton-Regular";
        src: url("../fonts/panton/Panton-Regular.otf") format("opentype");
    }
   
    label{font-family:"Panton-Bold";font-size:20px; font-style: bold;}

    h1{font-family:"Panton-Black";
       font-size:30px;
       word-spacing: 5pt;
   }

   td{font-family: "Panton-Regular";

      font-size: 13px;
      text-align: center;
   }
   th{font-family: "Panton-Black";
      
      font-size: 16px;
      text-align: center;

   }

   

   h3{font-family:"Panton-Bold";
       font-size:24px;
       word-spacing: 5pt;
       color: #7E7E7E
   }

    h6{font-family:"Panton-Regular";
       word-spacing: 5pt;
       color: #7E7E7E
   }
   

   body{background-color: #fafafa;

   }

   #header-top-area{
    background-color: #45bfeb;
   }

   #gobierno{
    font-family: 'Panton-Bold';
    color: #666;
    font-size: 16px;
   }

   

   /*============================ inputs  =====================================*/
        input[type=text], input[type=password], input[type=email] {
            transition: all 0.6s ease;

           
            font-family: "Panton-Regular"
            


        }
        select{
          font-family: "Panton-Regular"
            
        }

        

        /*============================termina inputs =====================================*/
 
    
    </style>